@import "../../../../assets/styles/index";

.pd-account {
  width: 100%;
  .topicPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pageTitle {
      @include pageTitle;
    }

    .btnBox {
      display: flex;
      button.download {
        @include downloadBtn;
      }

      button.create {
        @include createBtn;
        margin-left: 10px;
      }
    }
  }
  .whiteContainer {
    @include whiteContainer;
    .coverSetting {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        width: 47%;
        .leftHead {
          font-size: 16px;
          line-height: 19px;
          /* identical to box height */
          font-weight: bold;
          margin-bottom: 28px;
          letter-spacing: 0.746667px;

          color: #393939;
        }
        form {
          width: 100%;
          border: 1px solid #dcdff1;
          border-radius: 11px;
          padding: 30px;
          margin-top: 38px;
        }
      }
    }
  }
  .flexPart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    .toggleBox {
      background: #ffffff;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.08);
      border-radius: 9px;
      height: 200px;
      width: 25%;
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      .eachList {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 0;
        cursor: pointer;
        margin-bottom: 10px;
        &.active {
          background: #dcdff1;
          p {
            color: #0052bd;
          }
          .iconSide {
            path {
              stroke: #0052bd;
            }
            circle {
              stroke: #0052bd;
            }
          }
        }
        p {
          font-size: 12px;
          line-height: 14px;
          margin-left: 10px;
          width: 150px;
        }
        .iconSide {
          path {
            stroke: #000000;
          }
          circle {
            stroke: #000000;
          }
        }
      }
    }
    .whiteGuy {
      width: 70%;
      background: #ffffff;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.08);
      border-radius: 9px;
      padding: 80px;
      .coverForm {
        width: 60%;
        margin: auto;
      }
    }
  }
}
