.input-icon-wrap {
  background: #ffffff;
  border: 1px solid #dcdff1;
  width: 100%;
  border-radius: 3px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  .currencyDiv {
    width: 60px;
    height: 100%;
    background: #e1e4e7;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #393939;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }

  &.icon-placeholder {
    input {
      padding-left: 40px;
      &.pad {
        padding-left: 10px;
      }
    }
    .icon-left {
      cursor: text;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      // color: color(placeholder);
    }
  }

  .icon,
  .extraSelect {
    height: 100%;
    // width: 20px;
    background: transparent;
    cursor: pointer;
    padding: 0 0.6rem;
    border: none !important;
    // color: $primary;
  }
  .extraSelect {
    border: none;
    width: 100px;
  }

  input {
    background: transparent;
    border: none !important;
    height: 100% !important;
    flex-grow: 2;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    color: #393939;
    &::placeholder {
      font-size: 12px;
      line-height: 14px;
      /* identical to box height */

      color: #babec2;
    }
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 22px 0;
  width: 100%;
  &.extraWidth {
    width: 48%;
  }

  &.except {
    margin-bottom: 10px;
  }

  label {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #4a4a4a;
    margin-bottom: 5px;
  }
}

input:not([type="checkbox"]),
.css-wb4q7n-MuiInputBase-root-MuiOutlinedInput-root,
select,
textarea {
  background: transparent;
  border: 1px solid inherit;
  width: 100%;
  height: 40px;
  padding: 0 0.8rem;
  outline: none;
  border-radius: 4px;
  color: #222 !important;

  &:focus {
    outline: none;
  }
}
.selectClass {
  border: none;
}

.form-group textarea {
  height: 130px !important;
  border: 1px solid #dcdff1;
  padding: 0.5rem;
  resize: vertical;
}
.react-select {
  width: 100% !important;
  &:focus {
    outline: none !important;
    border: 1px solid color(inputBorder) !important;
  }
  &__control {
    background: color(inputBg) !important;
    border: 1px solid color(inputBorder) !important;
    width: 100%;
    height: 40px;
    padding: 0 0.5rem;
    border-radius: 4px;
    color: color(placeholder);
  }
  &__menu {
    width: 50%;
    max-width: 300px;
  }

  &__indicators,
  &__value-container {
    height: 100%;
  }
  &__multi-value {
    border-radius: 15px !important;
    background-color: #93e3964d !important;
    color: #007b30;
    border: 0.5px solid #007b30;
    padding: 0.1rem 0.4rem;
    &__label {
      padding: 0rem 0.3rem !important;
      padding-right: 0.5rem;
      font-size: 0.9rem !important;
      border-right: 1px solid #007b30;
      height: max-content;
      border-radius: 0 !important;
    }
    &__remove {
      cursor: pointer;
      &:hover {
        color: #007b30 !important;
        background-color: transparent !important;
      }
    }
  }
}
.is-invalid {
  border-color: #ff0606 !important;
  .icon {
    path {
      fill: #ff0606;
    }
  }
}
.input-err-msg {
  color: #ff0606;
  width: 100%;
  font-weight: 500;
  font-size: 8.51965px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  text-align: right;
}
.commentInput {
  margin-bottom: 0;
  input,
  .input-icon-wrap {
    background: transparent;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    &:focus {
      background: transparent;
    }
  }
  .input-icon-wrap {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.06);

    svg path {
      fill: rgba($color: #000000, $alpha: 0.6);
    }
  }
}

// phone style
.react-tel-input {
  height: 100%;
}
.react-tel-input .selected-flag {
  height: 40px;
}
.react-tel-input .selected-flag {
}
