@import "../../../../assets/styles/index";
.pd-auction {
  width: 100%;
  .topicPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pageTitle {
      @include pageTitle;
    }

    .btnBox {
      display: flex;
      position: relative;
      .actionPop {
        @include actionPop;
        top: 40px;
        left: unset;
        right: 0px;
      }
      button.download {
        @include downloadBtn;
      }

      button.create {
        @include createBtn;
        margin-left: 10px;
      }
    }
  }
  .transactionNav {
    margin-top: 30px;
    width: 300px;
    height: 38px;
    display: flex;
    button {
      font-size: 14px;
      border: none;
      line-height: 16px;
      width: 150px;

      color: #393939;
      background: #d7def7;
      cursor: pointer;
      &.active {
        background: $primary;
        color: white;
      }
    }

    .auction {
      border-radius: 11px 0px 0px 0px;
    }
    .payment {
      border-radius: 0px 11px 0px 0px;
    }
  }
  .whiteContainer {
    @include whiteContainer;
    margin-top: 0;
    .tableHead {
      @include tableHead;
      .search {
        @include search;
      }
      .tableTitle {
        @include tableTitle;
      }
    }

    .overflowTable {
      width: 100%;
      //   overflow-y: auto;
      //   @include webkit2;
      @include overflowTable;
      table {
      }
    }
  }
  .createAdmin {
    width: 450px;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
    border-radius: 11px;
    padding: 20px;
    margin: auto;
    .group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .halfInput {
        width: 45%;
      }
    }
    .cancel {
      @include button;
      margin-top: 10px;
      width: 100%;
      background: none;
      border: none;
      text-decoration-line: underline;

      color: #0052bd;
    }
  }
}

.pd-auctionDetail {
  width: 463px;
  margin: auto;
  margin-top: 30px;
  .topSide {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      border: none;
      background: none;
      display: flex;
      align-items: center;
      .fill2 {
        margin-right: 3px;
        width: 12px;
        path {
          // fill: #4a4a4a;
          stroke: #4a4a4a;
        }
      }
      &:last-child {
        margin-left: 15px;
      }
    }
  }
  .downloadBox {
    background: #ffffff;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.08);
    border-radius: 0px 9px 9px 9px;
    width: 100%;
    margin-top: 5px;
    padding: 40px 28px;
    .aboutProduct {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      img {
        width: 71px;
        height: 71px;
        border-radius: 50%;
        margin-right: 20px;
      }
      .productText {
        p.order,
        p.productName {
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          color: #393939;
          margin-bottom: 5px;
        }
        p.auctionName {
          font-size: 12px;
          line-height: 14px;
          color: #0052bd;
        }
      }
    }
    .eachOrder {
      margin-top: 20px;
      width: 100%;
      .orderTopic {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #393939;
        margin-bottom: 15px;
      }
      .flexOrder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        p.left {
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: #6e768c;
        }
        .right {
          font-size: 12px;
          line-height: 14px;
          text-align: right;
          color: #393939;
          &.green {
            color: #00ce6e;
          }
        }
        .status-drop {
          position: relative;
          p {
            border-radius: 5px;
            padding: 6px 10px;
            display: flex;
            align-items: center;
            width: max-content;
            img {
              margin-left: 25px;
            }
            &.pending {
              background: #fff2ca;
              font-weight: 600;
              font-size: 12px;
              line-height: 14px;
              color: #f98b2d;
            }
          }
          .actionPop {
            @include actionPop;
          }
        }
        .cover {
          width: 100%;
          .eachBidding {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              margin-right: 10px;
            }
            .leftBid {
              flex: auto;
              display: flex;
              flex-direction: column;
              .nameBid {
                display: flex;
                justify-content: space-between;
                margin-bottom: 6px;
                p.name,
                p.price {
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 16px;
                  color: #2a2b36;
                }
                p.price {
                  font-size: 12px;
                }
                .date,
                .bid {
                  font-weight: 500;
                  font-size: 10px;
                  line-height: 12px;

                  color: #6e768c;
                }
              }
            }
          }
        }
      }
    }
    .line {
      width: 100%;
      border-bottom: 1px solid #dcdff1;
    }
  }
}
