@mixin downloadBtn {
  @include button;
  background: transparent;
  border: 1px solid #0052bd;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #0052bd;
  padding: 10px 16px;
  .fill {
    margin-left: 4px;
    path {
      fill: $primary;
    }
  }
  .fill2 {
    margin-right: 6px;

    path {
      stroke: $primary;
    }
  }
}
@mixin createBtn {
  @include button;
  color: $white;
  background: #0052bd;
  border-radius: 4px;
  padding: 10px 18px;
  .fill {
    margin-left: 4px;
    path {
      fill: $white;
    }
  }
}

@mixin downloadBtn2 {
  @include button;
  background: #0052bd;
  border-radius: 4px;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $white;
  padding: 10px 16px;
  .fill {
    margin-left: 4px;
    path {
      fill: $white;
    }
  }
}
